@import "./../custom-colors";

$primary: #8a5ea4;
$secondary: #ed2434;


$page-colors: (
	"primary": $primary,
	"secondary": $secondary,

);
$theme-colors: map-merge($theme-colors, $page-colors);

@import "./../main";
@import "./../plugins/strategia.scss";