@import "./../custom-colors";

$primary:  #FDC41F;
$secondary: #E42313;
$third: #001e43;
$four: #223B86;

$page-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"third": $third,
	"four": $four,

);
$theme-colors: map-merge($theme-colors, $page-colors);

@import "./../main";

